.arena-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	color: black;
}

.arena-container .boss-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
	margin-bottom: 0;
}

.vs-arena {
	margin: 0 auto;
	display: grid;
	grid-gap: 1rem;
}

@media (min-width: 900px) {
	.vs-arena {
		grid-template-columns: repeat(3, 1fr);
	}
}

.boss-container .boss-content {
	display: flex;
	flex-direction: column;
	padding: 10px;
	border-radius: 10px;
	background-image: linear-gradient(
		to right,
		#ff8177 0%,
		#ff867a 0%,
		#ff8c7f 21%,
		#f99185 52%,
		#cf556c 78%,
		#b12a5b 100%
	);
	background-size: 600% 600%;
	animation: gradient-animation 8s ease infinite;
	margin-bottom: 25px;
	flex-grow: 1;
}

@media (max-width: 899px) {
	.arena-container .boss-container {
		flex-direction: column-reverse;
	}

	.boss-container .boss-content {
		margin-top: 25px;
		margin-bottom: 0;
	}
}

h2 {
	margin: 0 0 10px;
}

h4 {
	margin: 10px 0;
}

.boss-content .image-content,
.player .image-content {
	position: relative;
}

.img-container {
	width: 250px;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	border-radius: 10px;
}

.image-content .health-bar {
	width: 100%;
	height: 30px;
	margin-top: 10px;
}

.health-bar progress[value] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 100%;
}

.health-bar progress[value]::-webkit-progress-bar {
	background-color: #e5652e;
	border-radius: 10px;
	overflow: hidden;
}

.health-bar progress[value]::-webkit-progress-value {
	background-color: #70cb1b;
}

.health-bar p {
	position: absolute;
	width: 100%;
	font-weight: bold;
	color: black;
	bottom: -10px;
}

.arena-container .players-container {
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.player-container {
	border: 2px solid #0f8cff;
	border-radius: 10px;
	margin-bottom: 25px;
}

.player-container.fighting {
	border-width: 0;
	background-image: linear-gradient(
		to right,
		#5bb5ff 0%,
		rgb(0, 132, 255) 100%
	);
	background-size: 600% 600%;
	animation: gradient-animation 8s ease infinite;
	border-radius: 10px;
	margin-bottom: 25px;
}

.player-container .player {
	display: flex;
	flex-direction: column;
	max-height: 80%;
	padding: 10px;
}

.active-players {
	margin-top: 32px;
}

.active-players .players-list {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-gap: 1rem;
}

@media (min-width: 600px) {
	.active-players .players-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 900px) {
	.active-players .players-list {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1200px) {
	.active-players .players-list {
		grid-template-columns: repeat(4, 1fr);
	}
}

.attack-container button {
	height: 60px;
	font-size: 18px;
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	background-size: 200% 200%;
	animation: gradient-animation 4s ease infinite;
}

.attack-container button:disabled {
	background: gray;
	cursor: default;
}

/* Effects */
.boss-container .attacking {
	animation: shake 1.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

.boss-container .hit {
	animation: hit-bounce 1s ease;
}

.loading-indicator {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 24px;
	padding-top: 25px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}

@keyframes hit-bounce {
	0% {
		transform: scale(1) translateY(0);
	}
	10% {
		transform: scale(1.2, 0.6);
	}
	30% {
		transform: scale(0.8, 1.1) translateY(-10px);
	}
	50% {
		transform: scale(1) translateY(0);
	}
	100% {
		transform: translateY(0);
	}
}
